<header id="app_header">
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo fixed-top scrolling-navbar">
        <links>
            <a class="navbar-brand" routerLink="/home">Xinthose</a>
            <ul class="navbar-nav mr-auto mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/bible">Bible</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/">Doctrine</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about">About</a>
                </li>
            </ul>
        </links>
    </mdb-navbar>
</header>
<router-outlet>
</router-outlet>