<main>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-3 col-md-5">
          <mdb-card>
            <mdb-card-img src="../../assets/404.png" alt="Card image cap"></mdb-card-img>
            <mdb-card-body>
              <mdb-card-title>
                <h4>404</h4>
              </mdb-card-title>
              <mdb-card-text>
                Page not found
              </mdb-card-text>
            </mdb-card-body>
          </mdb-card>
        </div>
      </div>
    </div>
  </main>
  